[Unit]
Description=Backend for Community Recs

[Service]
WorkingDirectory=/root/community-recs/api/
ExecStart=node server.js
Restart=true

[Install]
WantedBy=multi-user.target